<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new account from bouquets</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: this is a test</p>
    <p>Email: email test</p>

  </body>
</html>